# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.backup
.terraform.lock.hcl

# Terraform variable files
*.tfvars
*.tfvars.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/

# Lambda artifacts
*.zip

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store

# Logs and local env
*.log
.env
.env.*

# AWS/SAM
.aws-sam/
.serverless/

# Misc
*.pem
